.dragging {
   background-color: hsla(0, 2%, 58%, 0.4);
   border: 1px dashed rgba(230, 223, 223, 0.5);
}

.paper {
   height: calc(100vh - 180px);
   overflow: scroll;
   background-color: transparent;
   padding: 1px 5px;
}